@use "src/styles/vars";
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 5px solid vars.$yellow;
    border-radius: 15px;
    margin-top: 10px;


&-img {
    width: 30%;
    padding: 20px;
}

&-h1 {
    font-size: 32px;
    color: vars.$yellow;
    font-weight: 900;
}
}

