@use "src/styles/vars";

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  transform-style: preserve-3d;
  transition: transform 1000ms;
  align-items: center;

  &-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
    margin-top: 3rem;
  }

  &-button-up {
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 1px 0px 20px black;
    margin-top: 20px;
    background-color: #d3d3d3;
    width: 200px;
  }

  
  &-button-down {
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 1px 0px 20px black;
    background-color: #d3d3d3;
    width: 200px;
  }
}
